<button type="button" class="btn btn-success mb-3"
    hx-get="{% url 'core:add-locationvisit' user.id location.project.pk location.pk %}" hx-target="#dialog"
    hx-trigger="click">
    Add status</button>

<button id="downloadButton" type="button" class="btn btn-primary mb-3">
    Download Status Records
</button>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">created at</th>
            <th scope="col">Visit</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody id="locationvisit-table" hx-get="{% url 'core:locationvisit' user.id location.project.pk location.pk %}"
        hx-trigger="revealed, configRequest from:body, locationVisitChanged from:body">
        <tr id="loading-spinner-row" class="bg-white">
            <td colspan="4" class="text-center">
                <div class="spinner-grow" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<script>
    function downloadCSV(filename, csvContent) {
        var blob = new Blob([csvContent], { type: 'text/csv;charset=utf-8;' });
        var link = document.createElement("a");
        if (link.download !== undefined) {
            var url = URL.createObjectURL(blob);
            link.setAttribute("href", url);
            link.setAttribute("download", filename);
            link.style.visibility = 'hidden';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }
    }

    document.getElementById('downloadButton').addEventListener('click', function () {
        var table = document.querySelector('table');
        var rows = table.querySelectorAll('tr');
        var csvContent = "";

        csvContent += "#,Created At,Status,Comment\n";

        rows.forEach(function (row, index) {
            if (index === 0) return; // Skip header row
            var cols = row.querySelectorAll('td, th');
            var rowData = Array.from(cols).map(col => col.innerText.trim());

            var commentButton = row.querySelector('[data-bs-content]');
            var comment = commentButton ? commentButton.getAttribute('data-bs-content') : '';

            rowData.push(comment);
            csvContent += rowData.join(',') + "\n";
        });

        downloadCSV('location_visits.csv', csvContent);
    });
</script>