{% for project in project_list %}
<div class="col">
    <div class="card h-100" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ project.name }}</h5>
            <p class="card-text">{{project.description|truncatechars:150}}</p>
        </div>
        <div class="card-footer">
            <a class="btn btn-sm btn-info" href="{% url 'core:locations' project.pk %}">
                Open<i class="fa-solid fa-arrow-right mx-2"></i>
            </a>
        </div>
    </div>
</div>
{% endfor %}