{% extends 'project_dashboard.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'core:projects' user.id %}">Projects</a></li>
<li class="breadcrumb-item"><a href="{% url 'core:detail-project' user.id project.pk %}">{{ project.name }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'core:detail-location' user.id project.pk location.pk %}">{{ location.name }}</a></li>
<li class="breadcrumb-item active" aria-current="page">GWL measurements</li>
{% endblock breadcrumb %}

{% block content %}
{% include "groundwater/partial/gwl_list.html" %}
{% endblock %}

