<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <h3 class="text-muted mb-0">Measurement</h3>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-cog"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                    <a class="dropdown-item" style="cursor: pointer;"
                        hx-get="{% url 'waterquality:delete-measurement' project.pk location.pk samplingevent.pk sample.pk measurement.pk %}"
                        hx-target="#dialog" title="Delete">
                        Delete measurement
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" style="cursor: pointer;"
                        hx-get="{% url 'waterquality:update-measurement' project.pk location.pk samplingevent.pk sample.pk measurement.pk %}"
                        hx-target="#dialog" title="Edit">
                        Edit measurement
                    </a>
            </ul>
        </div>
    </div>
    <div class="container mt-4">
        <div class="card mb-4">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Measured on:</strong> {{ measurement.measured_on }}</li>
                    <li class="list-group-item"><strong>Detail:</strong>
                        <div class="card-body">
                            {% if measurement.details %}
                            <p class="card-text">{{ measurement.details }}</p>
                            {% else %}
                            <p class="card-text"><em>No details provided</em></p>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>