{% load crispy_forms_tags %}
{% load static %}

<button type="button" class="btn btn-success mb-3"
  hx-get="{% url 'waterquality:add-measurement' project.pk location.pk samplingevent.pk sample.pk %}"
  hx-target="#dialog" hx-trigger="click">
  Add measurement</button>
<button type="button" class="btn btn-success mb-3"
  hx-get="{% url 'waterquality:add_bulk-measurement' project.pk location.pk samplingevent.pk sample.pk %}"
  hx-target="#dialog" hx-trigger="click">
  Add bulk measurement</button>

<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">parameter</th>
      <th scope="col">value</th>
      <th scope="col">unit</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody hx-get="{% url 'waterquality:measurements' project.pk location.pk samplingevent.pk sample.pk %}"
    hx-trigger="revealed, configRequest from:body, measurementChanged from:body">
    <tr id="loading-spinner-row" class="bg-white">
      <td colspan="4" class="text-center">
        <div class="spinner-grow" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </td>
    </tr>
  </tbody>
</table>