{% extends 'project_dashboard.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'core:projects' user.id %}">Projects</a></li>
<li class="breadcrumb-item"><a href="{% url 'core:detail-project' user.id project.pk %}">{{ project.name }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'core:locations' user.id project.pk %}">Locations</a></li>
<li class="breadcrumb-item"><a href="{% url 'core:detail-location' user.id project.pk location.pk %}">{{ location.name }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'waterquality:samples' user.id project.pk location.pk %}">Samples</a></li>
<li class="breadcrumb-item"><a href="{% url 'waterquality:detail-sample' user.id project.pk location.pk sample.pk %}">{{ sample }}</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ measurement.property }}</li>
{% endblock breadcrumb %}

{% block content %}
<div class="container mt-4">
    <h3 class="text-muted">Measurement Details</h3>    
    <br>
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title"> {{ measurement.sample }} </h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Value:</strong> {{ measurement.value }}</li>
                <li class="list-group-item"><strong>Unit:</strong> {{ measurement.unit }}</li>
                <li class="list-group-item"><strong>Property:</strong> {{ measurement.property }}</li>
            </ul>
        </div>
    </div>

    {% include "shared/detail_list.html" %}

    <a href="{% url 'waterquality:update-measurement' user.id project.pk location.pk sample.pk measurement.pk %}" class="btn btn-warning">
        <i class="fas fa-edit"></i> Edit
    </a>

    <a href="{% url 'waterquality:delete-measurement' user.id project.pk location.pk sample.pk measurement.pk %}" class="btn btn-danger">
        <i class="fas fa-trash"></i> Delete
    </a>

</div>
{% endblock content %}
