{% extends 'base_dashboard.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'users:settings' user.id %}">Settings</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ protocol.method_name }}</li>
{% endblock breadcrumb %}

{% block content %}
<div class="container mt-4">
    <h3 class="text-muted">Protocol Details</h3>    
    <br>
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title"> {{ protocol.method_name }} </h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Sample Collection:</strong> {{ protocol.sample_collection }}</li>
                <li class="list-group-item"><strong>Sample Preservation:</strong> {{ protocol.sample_preservation }}</li>
                <li class="list-group-item"><strong>Sample Storage:</strong> {{ protocol.sample_storage }}</li>
                <li class="list-group-item"><strong>Analytical Method:</strong> {{ protocol.analytical_method }}</li>
                <li class="list-group-item"><strong>Data Postprocessing:</strong> {{ protocol.data_postprocessing }}</li>
                <li class="list-group-item"><strong>Standard Reference:</strong> {{ protocol.standard_reference }}</li>
                <li class="list-group-item"><strong>Details:</strong> {{ protocol.details }}</li>
            </ul>
        </div>
    </div>

    <a href="{% url 'waterquality:update-protocol' user.id protocol.id %}" class="btn btn-warning">
        <i class="fas fa-edit"></i> Edit
    </a>

    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
        <i class="fas fa-trash"></i> Delete
    </button>
    {% include "confirm_delete.html" with delete_url=request.path %}

</div>
{% endblock content %}
