{% extends 'project_dashboard.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'core:projects' user.id %}">Protocols</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ form.instance.pk|yesno:"Edit,Add" }} </li>
{% endblock breadcrumb %}

{% block content %}
<h2>{{ form.instance.pk|yesno:"Edit Protocol,Add New Protocol" }}</h2>
<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  
  <button type="submit" class="btn btn-primary mt-4">Save Protocol</button>
</form>

{% endblock content %}
