{% extends 'project_dashboard.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'core:projects' user.id %}">Projects</a></li>
<li class="breadcrumb-item"><a href="{% url 'core:detail-project' user.id project.pk %}">{{ project.name }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'core:locations' user.id project.pk %}">Locations</a></li>
<li class="breadcrumb-item"><a href="{% url 'core:detail-location' user.id project.pk location.pk %}">{{ location.name }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'waterquality:samples' user.id project.pk location.pk %}">Samples</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ form.instance.pk|yesno:"Edit,Add" }} </li>
{% endblock breadcrumb %}

{% block content %}
<h2>{{ form.instance.pk|yesno:"Edit Sample,Add New Sample" }}</h2>
<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  
  <div class="card p-2 mt-4" id="detail_form"></div>

  <button type="submit" class="btn btn-success mt-4">Save Sample</button>
</form>
{% endblock content %}

