{% extends 'base_dashboard.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Sensors</li>
{% endblock %}

{% block content %}

<button 
    type="button" 
    class="btn btn-success mb-3" 
    hx-get="{% url 'sensor:add-sensor' user.id %}"
    hx-target="#dialog"
    hx-trigger="click">
    Add sensor</button>

    <div id="sensor-container" hx-get="{% url 'sensor:sensors' user.id %}" hx-trigger="revealed, configRequest from:body, sensorChanged from:body">
        <div id="loading-spinner" class="text-center">
            <div class="spinner-grow" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
{% endblock content %}