{% extends 'base_dashboard.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'sensor:sensors' user.id %}">Sensors</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ sensor.identifier }}</li>
{% endblock breadcrumb %}

{% block content %}
<div class="container mt-4">
    <h3 class="text-muted">Sensor Details</h3>
    <div class="card mb-4">
        <div class="card-body">
            <h4 class="card-text">{{ sensor.identifier }}</h4>
        </div>
    </div>
    {% include "shared/user_list.html" %}
    {% include "shared/detail_list.html" %}
    </div>  

    <a href="{% url 'sensor:update-sensor' user.id sensor.pk %}" class="btn btn-warning">
        <i class="fas fa-edit"></i> Edit
    </a>
    <a href="{% url 'sensor:delete-sensor' user.id sensor.pk %}" class="btn btn-danger">
        <i class="fas fa-trash"></i> Delete
    </a>
</div>
{% endblock content %}
