.editorconfig
.gitattributes
.github
.gitignore
.gitlab-ci.yml
.idea
.pre-commit-config.yaml
.travis.yml
venv
.git
.envs/
.ruff_cache/
__pycache__/
*.pyc
htmlcov/
.coverage
.pytest_cache/
node_modules/
