{% extends base_template %}

{% load static %}
{% block content %}
<button type="button" class="btn btn-success mb-3" hx-get="{{ list_context.add_url }}" hx-target="#dialog"
    hx-trigger="click">
    <i class="fa-solid fa-plus"></i></button>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th scope="col">#</th>
            {% for col in list_context.columns %}
            <th scope="col">{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody hx-get="{{ list_context.list_url }}"
        hx-trigger="revealed, configRequest from:body, {{ list_context.action }} from:body">
        <tr id="loading-spinner-row" class="bg-white">
            <td colspan="4" class="text-center">
                <div class="spinner-grow" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </td>
        </tr>
    </tbody>
</table>
{% endblock content %}