{% load custom_tags %}
{% load static %}

{% if htmx_context != "block" %}
<h3 class="text-muted">{{ list_config.title|capfirst }}</h3>
{% endif %}
<p>
    <span class="text-muted">
        {{ list_config.explanation }}
    </span>
    <button type="button" class="btn btn-sm p-0 text-info" data-toggle="popover" data-bs-trigger="focus"
        data-bs-placement="top" title="Comment" data-bs-content="{{ list_config.explanation_detail }}">
        <i class="fas fa-info-circle"></i>
    </button>
</p>

<div class="align-items-start mb-3 gap-6">
    {% if htmx_context == "block" %}
    <a href="{{ list_config.list_url }}" class="btn btn-info">See all
        <i class="fa-solid fa-arrow-right"></i>
    </a>
    {% endif %}
    {% if list_config.has_bulk_create %}
    <button type="button" class="btn btn-success" 
    hx-get="{{ request.path }}add/"
    hx-target="#dialog"
    hx-trigger="click"
    hx-vals='js:(function(){ var vals = {{ hx_vals|default:"{}" }}; vals.bulk = true; return vals; })()'>
    <img src="{% static 'icons/pluses-alt.svg' %}" alt="CSV Icon" class="text-white" style="filter: invert(1);">
    </button>
{% endif %}
<button type="button" class="btn btn-success" 
        hx-get="{{ request.path }}add/"
        hx-target="#dialog"
        hx-trigger="click"
        hx-vals='js:{{ hx_vals|default:"{}" }}'>
        <i class="fa-solid fa-plus"></i>
    </button>
    <button class="btn btn-secondary"
        hx-get="{{ request.path }}"
        hx-vals='js:{{ hx_vals|default:"{}"|safe }}'
        hx-headers='{"HX-Download": "true"}'
        hx-swap="none">
        <i class="fa fa-download"></i>
    </button>
</div>
{% if "locations" in request.path and "overview" not in request.path %}
    <div id="map_locations" style="height: 400px; position: relative; overflow: hidden;"></div>
    <script>
        var locations = JSON.parse('{{ location_list|get_coordinates|escapejs }}');
        var map = initializeMap('map_locations');
        plotLocations(map, locations);
    </script>
{% endif %}
<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th scope="col">#</th>
            {% for col in list_config.columns %}
            <th scope="col">{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody id="{{ list_config.tbody_id }}"
        hx-get="{{ request.path }}"
        hx-trigger="{% if not htmx_context %}revealed, {% endif %}refreshList from:body"
        hx-vals='js:{{ hx_vals|default:"{}"|safe }}'>
        {% include "table.html" %}
    </tbody>
</table>


<script>
    if (!window.csvDownloadListenersAdded) {
        // Listen for the HTMX trigger event
        document.body.addEventListener('csvDownloaded', function(event) {
            console.log('CSV download triggered');
        });
    
        // Handle HTMX responses with attachment headers
        document.addEventListener('htmx:beforeSwap', function(event) {
            var contentDisposition = event.detail.xhr.getResponseHeader('Content-Disposition');
            if (contentDisposition && contentDisposition.indexOf('attachment') !== -1) {
                var blob = new Blob([event.detail.xhr.response], {
                    type: event.detail.xhr.getResponseHeader('Content-Type')
                });
    
                var link = document.createElement('a');
                link.href = window.URL.createObjectURL(blob);
    
                var filename = "download.csv";
                if (contentDisposition.indexOf('filename=') !== -1) {
                    filename = contentDisposition.split('filename=')[1].replace(/"/g, '');
                }
    
                link.download = filename;
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
    
                event.detail.shouldSwap = false;
            }
        });
    
        // Mark that the listeners have been added
        window.csvDownloadListenersAdded = true;
    }
</script>
