{% extends 'base.html' %}

{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}

{% block body %}
<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-success">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/"
                        class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Watersync</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start text-white"
                        id="menu">
                        <li class="nav-item">
                            <a href="{% url 'core:detail-project' user.id project.pk  %}"
                                class="custom-nav-link align-middle px-0">
                                <i class="fa-solid fa-display p-2"></i> <span
                                    class="ms-1 d-none d-sm-inline">Overview</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'core:locations' user.id project.pk %}"
                                class="custom-nav-link align-middle px-0">
                                <i class="fa-solid fa-location-dot p-2"></i> <span
                                    class="ms-1 d-none d-sm-inline">Locations</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'sensor:deployments' user.id project.pk %}"
                                class="custom-nav-link align-middle px-0">
                                <i class="fa-solid fa-tower-broadcast p-2"></i> <span
                                    class="ms-1 d-none d-sm-inline">Deployed sensors</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'core:detail-project' user.id project.pk %}"
                                class="custom-nav-link align-middle px-0">
                                <i class="fa-solid fa-circle-info p-2"></i> <span
                                    class="ms-1 d-none d-sm-inline">Project details</span>
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown pb-4">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30"
                                class="rounded-circle">
                            <span class="d-none d-sm-inline mx-1">loser</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col py-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'core:projects' user.id %}"><i
                                    class="fa-solid fa-house"></i></a></li>
                        {% block breadcrumb %}
                        {% endblock breadcrumb %}
                    </ol>
                </nav>
                <hr>
                <div class="flex-fill">
                    <div class="p-4">
                        <div class="container" style="padding-bottom: 60px;">
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-dismissible alert-{{ message.tags }} mt-2">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% block main %}
                            {% block content %}
                            {% comment %} This is where the routed content goes. {% endcomment %}
                            {% endblock content %}
                            {% endblock main %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Footer -->
<footer class="footer bg-primary mt-auto py-3">
    <div class="container">
        <span class="text-white">Watersync 2024</span>
    </div>
</footer>
<!-- /Footer -->

{% endblock body %}