{% load custom_tags %}
{% for obj in object_list %}
<tr>
    <th scope="row">{{ forloop.counter }}</th>
    {% for fld, val in obj.list_view_items %}
    <td>{{ val }}</td>
    {% endfor %}
    <td>
        {# Detail button - modal style #}
        {% if list_config.detail_type == "modal" %}
        
        <button type="button" class="btn btn-sm btn-info m-1"
            hx-get="{{ request.path }}{{ obj.pk }}" hx-target="#ofc-dialog"
            hx-trigger="click"
            hx-headers='{"HX-Context": "block"}' title="Detail">
            <i class="fa-solid fa-circle-info"></i>
        </button>
        {% endif %}

        {# Detail button - page style (overview) #}
        {% if list_config.detail_type == "page" %}
        <a class="btn btn-sm btn-info" href="{{ request.path }}{{ obj.pk }}/overview" title="Open">
            Open<i class="fa-solid fa-arrow-right mx-2"></i>
        </a>
        {% endif %}

        {# Detail button - popover style #}
        {% if list_config.detail_type == "popover" %}
        <button type="button" class="btn btn-sm btn-info" data-toggle="popover" data-bs-trigger="focus"
            data-bs-placement="top" title="Comment" data-bs-content="{{ obj.description }}">
            <i class="fas fa-info"></i>
        </button>
        {% endif %}
    
        <button type="button" class="btn btn-sm btn-warning m-1"
            hx-get="{{ request.path }}{{ obj.pk }}/update" hx-target="#dialog" title="Edit">
            <i class="fas fa-edit"></i>
        </button>

        <button type="button" class="btn btn-sm btn-danger m-1"
            hx-get="{{ request.path }}{{ obj.pk }}/delete" hx-target="#dialog" title="Delete">
            <i class="fas fa-trash"></i>
        </button>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="100" class="text-center text-muted py-3">
        <em>No data available</em>
    </td>
</tr>
{% endfor %}


<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })

    $('.popover-dismiss').popover({
        trigger: 'focus'
    })
</script>
