{% load custom_tags %}
{% for obj in object_list %}
<tr>
    <th scope="row">{{ forloop.counter }}</th>
    {% for fld, val in obj.list_view_items %}
    <td>{{ val }}</td>
    {% endfor %}
    <td>
        {% if list_context.detail_url %}
        <button type="button" class="btn btn-sm btn-info m-1"
            hx-get="{{ list_context.detail_url|replace_placeholder:obj.pk }}" hx-target="#ofc-dialog"
            hx-trigger="click"
            hx-headers='{"HX-Context": "block"}' title="Detail">
            <i class="fa-solid fa-circle-info"></i>
        </button>
        {% endif %}
        {% if list_context.detail_page_url %}
        <a class="btn btn-sm btn-info" href="{{ list_context.detail_page_url|replace_placeholder:obj.pk }}">
            Open<i class="fa-solid fa-arrow-right mx-2"></i>
        </a>
        {% endif %}
        {% if list_context.detail_popover %}
        <button type="button" class="btn btn-sm btn-info" data-toggle="popover" data-bs-trigger="focus"
            data-bs-placement="top" title="Comment" data-bs-content="{{ obj.description }}">
            <i class="fas fa-info"></i>
        </button>
        {% endif %}
        {% if list_context.update_url %}
        <button type="button" class="btn btn-sm btn-warning m-1"
            hx-get="{{ list_context.update_url|replace_placeholder:obj.pk }}" hx-target="#dialog" title="Edit">
            <i class="fas fa-edit"></i>
        </button>
        {% endif %}
        {% if list_context.delete_url %}
        <button type="button" class="btn btn-sm btn-danger m-1"
            hx-get="{{ list_context.delete_url|replace_placeholder:obj.pk }}" hx-target="#dialog" title="Delete">
            <i class="fas fa-trash"></i>
        </button>
        {% endif %}
    </td>
</tr>
{% endfor %}


<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })

    $('.popover-dismiss').popover({
        trigger: 'focus'
    })
</script>
