{% load custom_tags %}
{% for obj in object_list %}
<tr>
    <th scope="row">{{ forloop.counter }}</th>
    {% for fld, val in obj.list_view_items %}
    <td>{{ val }}</td>
    {% endfor %}
    <td>
        {# Detail button - modal style #}
        {% if list_context.has_detail %}
        <button type="button" class="btn btn-sm btn-info m-1"
            hx-get="{{ obj.get_detail_url }}" hx-target="#ofc-dialog"
            hx-trigger="click"
            hx-headers='{"HX-Context": "block"}' title="Detail">
            <i class="fa-solid fa-circle-info"></i>
        </button>
        {% endif %}

        {# Detail button - page style (overview) #}
        {% if list_context.has_detail_page %}
        <a class="btn btn-sm btn-info" href="{{ obj.get_overview_url }}">
            Open<i class="fa-solid fa-arrow-right mx-2"></i>
        </a>
        {% endif %}

        {# Detail button - popover style #}
        {% if list_context.has_detail_popover %}
        <button type="button" class="btn btn-sm btn-info" data-toggle="popover" data-bs-trigger="focus"
            data-bs-placement="top" title="Comment" data-bs-content="{{ obj.description }}">
            <i class="fas fa-info"></i>
        </button>
        {% endif %}

        {# Update button - uses model method #}
        {% if list_context.has_update %}
        <button type="button" class="btn btn-sm btn-warning m-1"
            hx-get="{{ obj.get_update_url }}" hx-target="#dialog" title="Edit">
            <i class="fas fa-edit"></i>
        </button>
        {% endif %}

        {# Delete button - uses model method #}
        {% if list_context.has_delete %}
        <button type="button" class="btn btn-sm btn-danger m-1"
            hx-get="{{ obj.get_delete_url }}" hx-target="#dialog" title="Delete">
            <i class="fas fa-trash"></i>
        </button>
        {% endif %}
    </td>
</tr>
{% endfor %}


<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })

    $('.popover-dismiss').popover({
        trigger: 'focus'
    })
</script>
