{% load crispy_forms_tags %}
{% load static %}

<button type="button" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#addWQMeasurementModal">
  <i class="fa fa-plus"></i> Add WQMeasurement
</button>
<table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">sample</th>
        <th scope="col">parameter</th>
        <th scope="col">value</th>
        <th scope="col">unit</th>
        <th scope="col">measured on</th>
        <th scope="col">details</th>

      </tr>
    </thead>
    <tbody>
      {% for measurement in measurement_list %}
      <tr>
      <th scope="row">{{ forloop.counter }}</th>
        <td>{{measurement.sample}}</td>
        <td>{{measurement.parameter_name}}</td>
        <td>{{measurement.value}}</td>
        <td>{{measurement.unit}}</td>
        <td>{{measurement.measured_on}}</td>
        <td>
            <a href="#" data-bs-toggle="tooltip" data-bs-title="{{ measurement.detail }}">
                <i class="fa-solid fa-circle-info" aria-hidden="true"></i>
            </a>
        </td> 
      {% endfor %}
      </tr>
    </tbody>
</table>

{% include "shared/modal.html" with modal_id="addWQMeasurementModal" modal_title="Add New Measurement" %}
{% block modal_body %}
<form method="post" action="{% url 'waterquality:add-measurement' user.id project.pk location.pk samplingevent.pk sample.pk %}">
  {% csrf_token %}
  {{ measurement_form|crispy }}
  <button type="submit" class="btn btn-primary mt-4">Save Measurement</button>
</form>
{% endblock %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        tooltipTriggerList.forEach(function (tooltipTriggerEl) {
            new bootstrap.Tooltip(tooltipTriggerEl)
        })
    });
</script>