{% load crispy_forms_tags %}
{% load static %}


<button type="button" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#addSampleModal">
  <i class="fa fa-plus"></i> Add sample
</button>
  <br>
<table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">sample code</th>
        <th scope="col">details</th>

      </tr>
    </thead>
    <tbody>
      {% for sample in sample_list %}
      <tr>
      <th scope="row">{{ forloop.counter }}</th>
        <td>{{ sample }}</td>
        <td><a class="btn btn-sm btn-info" href="{% url 'waterquality:detail-sample' user.id project.pk location.pk samplingevent.pk sample.pk %}">Details...</a></td>
      {% endfor %}
      </tr>
    </tbody>
  </table>

  <div class="modal fade" id="addSampleModal" tabindex="-1" aria-labelledby="addSampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSampleModalLabel">Add New Sample</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'waterquality:add-sample' user.id project.pk location.pk samplingevent.pk %}">
                  {% csrf_token %}
                  {{ sample_form|crispy }}
                  <button type="submit" class="btn btn-primary mt-4">Save Sample</button>
                </form>
            </div>
        </div>
    </div>
  </div>