{% load crispy_forms_tags %}
{% load static %}

<button type="button" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#addEventModal">
  <i class="fa fa-plus"></i> Add Sampling Event
</button>
<table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">date</th>
        <th scope="col">location</th>
        <th scope="col">details</th>
      </tr>
    </thead>
    <tbody>
      {% for samplingevent in samplingevent_list %}
      <tr>
      <th scope="row">{{ forloop.counter }}</th>
        <td>{{samplingevent.executed_at}}</td>
        <td>{{samplingevent.location}}</td>
        <td><a class="btn btn-sm btn-info" href="{% url 'waterquality:detail-samplingevent' user.id project.pk location.pk samplingevent.pk %}">Details...</a></td>
      {% endfor %}
      </tr>
    </tbody>
</table>

<div class="modal fade" id="addEventModal" tabindex="-1" aria-labelledby="addEventModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="addEventModalLabel">Add New Event</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form method="post" action="{% url 'waterquality:add-samplingevent' user.id project.pk location.pk %}">
                {% csrf_token %}
                {{ samplingevent_form|crispy }}
                <button type="submit" class="btn btn-primary mt-4">Save Event</button>
              </form>
          </div>
      </div>
  </div>
</div>
