{% extends 'base.html' %}
{% load static i18n %}
{% load i18n %}
{% block body %}
<div class="mb-1">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <button
        class="navbar-toggler navbar-toggler-right"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">Watersync</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="visually-hidden">(current)</span></a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:detail' request.user.pk %}">{% translate "My Profile" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'core:projects' %}">{% translate "Dashboard" %}</a>
          </li>
          {% else %}
          {% if ACCOUNT_ALLOW_REGISTRATION %}
          <li class="nav-item">
            <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="container" style="padding-bottom: 60px;">
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
  {% block main %}
  {% block content %}
  <!-- Landing page content goes here -->
  {% endblock content %}
  {% endblock main %}
</div>

<footer class="footer bg-success mt-auto py-3 text-center">
  <div class="container">
    <span class="text-white">Watersync 2024</span>
  </div>
</footer>
{% endblock body %}
