<!-- This template is used for the basic dashboard where the user can manage user-level items. In this version, those
 items are `Project` and `Sensor` objects. Therefore in the sidebar, there are only two navigation options to those
 two pages. 
 
 Majority of the content is managed through the `project` view.
 -->
{% extends 'base.html' %}

{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}

{% block body %}
<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-success">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/"
                        class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Watersync</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start text-white"
                        id="menu">
                        <li class="nav-item">
                            <a href="{% url 'core:projects' %}" class="custom-nav-link align-middle px-0">
                                <i class="fa-solid fa-house p-2"></i> <span
                                    class="ms-1 d-none d-sm-inline">Projects</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'sensor:sensors' %}" class="custom-nav-link align-middle px-0">
                                <i class="fa-solid fa-tower-broadcast p-2"></i> <span
                                    class="ms-1 d-none d-sm-inline">Sensors</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'users:settings' %}" class="custom-nav-link align-middle px-0">
                                <i class="fa-solid fa-cog p-2"></i> <span
                                    class="ms-1 d-none d-sm-inline">Settings</span>
                            </a>
                        </li>
                    </ul>
                    <hr>
                </div>
            </div>
            <div class="col py-3">
                {% include 'layouts/partial/dashboard_header.html' %}
                <div class="flex-fill">
                    <div class="p-4">
                        <div class="container" style="padding-bottom: 60px;">
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-dismissible alert-{{ message.tags }} mt-2">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% block main %}
                            {% block content %}

                            {% endblock content %}
                            {% endblock main %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% include 'layouts/partial/dashboard_footer.html' %}


{% endblock body %}