{% extends 'base.html' %}

{% load static i18n %}
{% load static %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}

{% block body %}
<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-success">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/"
                        class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Watersync</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start text-white"
                        id="menu">
                        <li class="nav-item">
                            <a href="{% url 'core:locations' user.id project.pk %}"
                                class="custom-nav-link align-middle px-0">
                                <i class="fa-solid fa-location-dot p-2"></i> <span
                                    class="ms-1 d-none d-sm-inline">Locations</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'core:fieldworks' user.id project.pk  %}"
                                class="custom-nav-link align-middle px-0">
                                <img src="{% static 'icons/tree-alt.svg' %}" alt="CSV Icon" width="32" height="32" class="text-white" style="filter: invert(1);"> <span
                                    class="ms-1 d-none d-sm-inline">Fieldwork</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'sensor:deployments' user.id project.pk %}"
                                class="custom-nav-link align-middle px-0">
                                <i class="fa-solid fa-tower-broadcast p-2"></i> <span
                                    class="ms-1 d-none d-sm-inline">Deployed sensors</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'core:detail-project' user.id project.pk %}"
                                class="custom-nav-link align-middle px-0">
                                <i class="fa-solid fa-circle-info p-2"></i> <span
                                    class="ms-1 d-none d-sm-inline">Project details</span>
                            </a>
                        </li>
                    </ul>
                    <hr>
                </div>
            </div>
            {% include 'layouts/partial/dashboard_header.html' %}
                <div class="flex-fill">
                    <div class="p-4">
                        <div class="container" style="padding-bottom: 60px;">
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-dismissible alert-{{ message.tags }} mt-2">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% block main %}
                            {% block content %}
                            {% comment %} This is where the routed content goes. {% endcomment %}
                            {% endblock content %}
                            {% endblock main %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% include "layouts/partial/dashboard_footer.html" %}
{% endblock body %}