{% for locationstatus in locationstatus_list %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ locationstatus.created_at }}</td>
        <td>{{ locationstatus.status }}</td>
        <td>{{ locationstatus.comment }}</td>
        <td>
        <button type="button" class="btn btn-sm btn-warning" 
            hx-get="{% url 'core:update-locationstatus' user.id project.pk location.pk locationstatus.pk %}"
            hx-target="#dialog"
            title="Edit">
            <i class="fas fa-edit"></i>
        </button>
        </td>
        <td>
        <button type="button" class="btn btn-sm btn-danger" 
            hx-get="{% url 'core:delete-locationstatus' user.id project.pk location.pk locationstatus.pk %}"
            hx-target="#dialog"
            title="Delete">
            <i class="fas fa-trash"></i>
        </button>
        </td>
    </tr>
{% endfor %}