{% extends 'project_dashboard.html' %}
{% load static %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'core:projects' user.id %}">Projects</a></li>
<li class="breadcrumb-item"><a href="{% url 'core:detail-project' user.id project.pk %}">{{ project.name }}</a></li>
<li class="breadcrumb-item active" aria-current="page">Locations</li>
{% endblock breadcrumb %}

{% block content %}

<button 
    type="button" 
    class="btn btn-success mb-3" 
    hx-get="{% url 'core:add-location' user.id project.pk %}"
    hx-target="#dialog"
    hx-trigger="click">
    Add location</button>

    <div id="locations-container" hx-get="{% url 'core:locations' user.id project.pk %}" hx-trigger="revealed, configRequest from:body, locationChanged from:body">
        <div id="loading-spinner" class="text-center">
            <div class="spinner-grow" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

{% endblock content %}