{% extends 'project_dashboard.html' %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}
{% load static %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'core:projects' user.id %}">Projects</a></li>
<li class="breadcrumb-item"><a href="{% url 'core:detail-project' user.id project.pk %}">{{ project.name }}</a></li>
<li class="breadcrumb-item active" aria-current="page">Locations</li>
{% endblock breadcrumb %}

{% block content %}
{% leaflet_js %}
{% leaflet_css %}

<button 
    type="button" 
    class="btn btn-success mb-3" 
    hx-get="{% url 'core:add-location' user.id project.pk %}"
    hx-target="#dialog"
    hx-trigger="click">
    Add location</button>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Added by</th>
            <th scope="col">Created at</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody hx-get="{% url 'core:locations' user.id project.pk %}" hx-trigger="revealed, configRequest from:body, locationStatusChanged from:body">
        <tr id="loading-spinner-row" class="bg-white">
            <td colspan="4" class="text-center">
                <div class="spinner-grow" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </td>
        </tr>
    </tbody>
</table>
</div>

{% endblock content %}
