{% extends 'layouts/project_dashboard.html' %}

{% block content %}
<div id="location-detail" hx-get="{% url 'core:detail-location' user.id project.pk location.pk %}"
    hx-trigger="revealed, configRequest from:body, locationChanged from:body" hx-target="#location-detail"
    hx-headers='{"HX-Context": "block"}'>
    <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<hr>
<h3 class="text-muted">Resources linked to location</h3>
<p><em>Mind that you have to first delete all the resources linked to the location, before deleting the location
        itself.</em></p>


<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="locationvisits-tab" data-bs-toggle="tab"
            data-bs-target="#locationvisits-tab-pane" type="button" role="tab" aria-controls="locationvisits-tab-pane"
            aria-selected="true">
            Location visits
            <span class="badge rounded-pill bg-primary">{{ statuscount }}</span>
        </button>
    </li>
    {% if location.type == 'well' %}
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="gwlmeasurements-tab" data-bs-toggle="tab"
            data-bs-target="#gwlmeasurements-tab-pane" type="button" role="tab" aria-controls="gwlmeasurements-tab-pane"
            aria-selected="false">
            GWL
            <span class="badge rounded-pill bg-primary">{{ gwlmeasurementcount }}</span>
        </button>
    </li>
    {% endif %}
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="deployments-tab" data-bs-toggle="tab" data-bs-target="#deployments-tab-pane"
            type="button" role="tab" aria-controls="deployments-tab-pane" aria-selected="false">
            Timeseries
            <span class="badge rounded-pill bg-primary">{{ deploymentcount }}</span>
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="sampling-tab" data-bs-toggle="tab" data-bs-target="#sampling-tab-pane"
            type="button" role="tab" aria-controls="sampling-tab-pane" aria-selected="false">
            Water Quality
            <span class="badge rounded-pill bg-primary">{{ samplecount }}</span>
        </button>
    </li>
</ul>
<div class="tab-content" id="location-resources-tab-content">
    <div class="tab-pane fade show active" id="locationvisits-tab-pane" role="tabpanel"
        aria-labelledby="locationvisits-tab" tabindex="0">
        <div id="locationvisits" class="container p-4">
            {% with list_context=locationvisits.list_context htmx_context="block" %}
            {% include "list.html"%}
            {% endwith %}
        </div>
    </div>
    <div class="tab-pane fade" id="gwlmeasurements-tab-pane" role="tabpanel" aria-labelledby="gwlmeasurements-tab">
        <div id="gwlmeasurements" class="container p-4">
            {% with list_context=gwlmeasurements.list_context htmx_context="block" %}
            {% include "list.html"%}
            {% endwith %}
        </div>
    </div>
    <div class="tab-pane fade" id="deployments-tab-pane" role="tabpanel" aria-labelledby="deployments-tab">
        <div id="deployments" class="container p-4">
            {% with list_context=deployments.list_context htmx_context="block" %}
            {% include "list.html"%}
            {% endwith %}
        </div>
    </div>
    <div class="tab-pane fade" id="sampling-tab-pane" role="tabpanel" aria-labelledby="sampling-tab">
        <div id="sampling" class="container p-4">
            {% with list_context=samples.list_context htmx_context="block" %}
            {% include "list.html"%}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock content %}