{% extends 'project_dashboard.html' %}

{% load static %}

<div class="col-md-6">

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Basic Information</h5>
            <div id="location-detail" hx-get="{% url 'core:detail-location' user.id project.pk location.pk %}"
                hx-trigger="revealed, configRequest from:body, locationChanged from:body"
                hx-target="#location-detail">
                <div class="spinner-grow" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>

<h3 class="text-muted">Resources linked to location</h3>
    <p><em>Mind that you have to first delete all the resources linked to the location, before deleting the location
            itself.</em></p>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
                Location visits
                <span class="badge rounded-pill bg-primary">{{ statuscount }}</span>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
                GWL
                <span class="badge rounded-pill bg-primary">{{ gwlmeasurementcount }}</span>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane"
                type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">
                Timeseries
                <span class="badge rounded-pill bg-primary">{{ deploymentcount }}</span>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane"
                type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false">
                Water Quality
                <span class="badge rounded-pill bg-primary">{{ samplingeventcount }}</span>
            </button>
        </li>
    </ul>
    <div id="resource-counts" hx-swap-oob="true">
        <span id="status-count" hx-swap-oob="true"></span>
        <span id="gwl-count" hx-swap-oob="true"></span>
        <span id="deployment-count" hx-swap-oob="true"></span>
        <span id="samplingevent-count" hx-swap-oob="true"></span>
    </div>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
            tabindex="0">
            <div id="locationvisit" class="container p-4">
                <p>
                    <em class="text-decoration-none text-muted">
                        Location visits
                    </em>
                </p>
                {% with list_context=locationvisits.list_context base_template="blank.html" %}
                    {% include "list.html"%}
                {% endwith %}
            </div>
        </div>
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <div id="gwlmeasurements" class="container p-4">
                <h4>
                    <a href="{% url 'groundwater:gwlmeasurements' user.id project.pk location.pk %}"
                        class="text-decoration-none text-dark">
                        Manual groundwater level measurements
                    </a>
                </h4>
                {% comment %} {% include 'groundwater/partial/gwl_list.html' %} {% endcomment %}
            </div>
        </div>
        <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
            <div id="sensordeployments" class="container p-4">
                <h4>
                    <!-- <a href="{% url 'sensor:deployments' user.id project.pk %}" class="text-decoration-none text-dark">
                        Timeseries from deployed sensors
                    </a> -->
                </h4>
                {% with list_context=deployments.list_context base_template="blank.html" %}
                    {% include "list.html"%}
                {% endwith %}
            </div>
        </div>
        <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">
            <div id="wqsamples" class="container p-4">
                <h4>
                    <a href="{% url 'waterquality:samplingevents' user.id project.pk location.pk %}"
                        class="text-decoration-none text-dark">
                        Water quality sampling
                    </a>
                </h4>
                <!-- {% include 'waterquality/partial/samplingevent_list.html' %} -->

            </div>
        </div>
    </div>

</div>