<h4 class="mb-3">
    Change history
</h4>
{% if object_list %}
    <section class="py-5">
        <ul class="timeline">
            {% for item in object_list %}
                {% include "shared/history_card.html" with item=item %}
            {% endfor %}
        </ul>
            {% if object_list|length > 10 %}
                <div class="text-center mt-2">
                    <small class="text-muted">
                        Showing latest 10 changes out of {{ object_list|length }} total
                    </small>
                </div>
            {% endif %}
    </section>
{% endif %}
