{% extends 'layouts/project_dashboard.html' %}

{% block content %}
<div id="sample-detail" hx-get="{% url 'waterquality:detail-sample' project.pk sample.pk %}"
    hx-trigger="revealed, refreshList from:body" hx-target="#sample-detail"
    hx-headers='{"HX-Context": "block"}'>
    <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<hr>
<h3 class="text-muted">Measurements</h3>
<p><em>Mind that you have to first delete all the resources linked to the sample, before deleting the sample
        itself.</em></p>
{# Measurements - lazy loads when revealed #}
<div id="measurements" class="container p-4"
     hx-get="{% url 'waterquality:measurements' project.pk %}"
     hx-vals='{"sample_pk": "{{ sample.pk }}"}'
     hx-trigger="revealed once"
     hx-headers='{"HX-Context": "block"}'>
    <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

{% endblock content %}
