{% for gwlmeasurement in gwlmanualmeasurement_list %}
<tr>
    <th scope="row">{{ forloop.counter }}</th>
    <td>{{ gwlmeasurement.timestamp }}</td>
    <td>{{ gwlmeasurement.location.name }}</td>
    <td>{{ gwlmeasurement.depth }}</td>
    <td>
        <div class="button-container">
            <button type="button" class="btn btn-sm btn-info" data-toggle="popover" data-bs-trigger="focus"
                data-bs-placement="top" title="Comment" data-bs-content="{{ gwlmeasurement.comment }}">
                <i class="fas fa-info"></i>
            </button>
            <button type="button" class="btn btn-sm btn-warning"
                hx-get="{% url 'groundwater:update-gwlmeasurement' user.id project.pk location.pk gwlmeasurement.pk %}"
                hx-target="#dialog" title="Edit">
                <i class="fas fa-edit"></i>
            </button>
            <button type="button" class="btn btn-sm btn-danger"
                hx-get="{% url 'groundwater:delete-gwlmeasurement' user.id project.pk location.pk gwlmeasurement.pk %}"
                hx-target="#dialog" title="Delete">
                <i class="fas fa-trash"></i>
            </button>
        </div>
    </td>
</tr>
{% endfor %}

<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })

    $('.popover-dismiss').popover({
        trigger: 'focus'
    })
</script>