{% extends 'project_dashboard.html' %}

{% load crispy_forms_tags %}
{% load leaflet_tags %}

{% block content %}
  <h2>Add New Location</h2>
  
  {% leaflet_js plugins="forms" %}
  {% leaflet_css plugins="forms" %}
  
  <form method="post" novalidate>
    {% csrf_token %}
    <div class="row">
      <div class="col-6">
        {{ form.name|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.type|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.description|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.detail|as_crispy_field }}
      </div>
    </div>
    <div class="form-group">
      {{ form.altitude|as_crispy_field }}
      {{ form.geom|as_crispy_field }}
    </div>
    <button type="submit" class="btn btn-success">Save Location</button>
  </form>
{% endblock %}
