{% load crispy_forms_tags %}
{% load static %}


<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="{{ modal_id }}Label">Add new location</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
  <div class="modal-body">

    <form hx-post="{{ request.path }}" 
          hx-target="#dialog">
    {% csrf_token %}
    {{ form|crispy }}

    <div id="map" 
    style="height: 400px; position: relative; overflow: hidden;" 
    data-lat="{{ form.instance.geom.y|default:'51.505' }}" 
    data-lng="{{ form.instance.geom.x|default:'-0.09' }}" 
    data-lat-field-id="{{ form.latitude.id_for_label }}" 
    data-lng-field-id="{{ form.longitude.id_for_label }}">
</div>

    <div class="card p-2 mt-4" id="detail_form"></div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>

    </form>
</div>
</div>

<script>
    // Initialize the detail input
    var elementId = 'detail_form';
    var schemaUrl = "{% static 'schemas/piezometer_detail_schema.json' %}";
    var hiddenFieldId = 'id_detail';
    var initialData = {{ form.detail.value|default:"{}"|safe }};

    initializeJSONEditor(elementId, schemaUrl, hiddenFieldId, initialData);
</script>
