{% extends 'project_dashboard.html' %}

{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% load static %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'core:projects' user.id %}">Projects</a></li>
<li class="breadcrumb-item"><a href="{% url 'core:detail-project' user.id project.pk %}">{{ project.name }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'core:locations' user.id project.pk %}">Locations</a></li>
<li class="breadcrumb-item active" aria-current="page">Add</li>
{% endblock breadcrumb %}

{% block content %}
{% leaflet_js %}
{% leaflet_css %}

<h2>{{ form.instance.pk|yesno:"Edit Location,Add New Location" }}</h2>
<form method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}

    <div id="map" style="height: 400px;"></div>

    <div class="card p-2 mt-4" id="detail_form"></div>

    <button type="submit" class="btn btn-primary mt-4">Save Location</button>

</form>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>

<script>
    var initialLat = {{ form.instance.geom.y|default:"51.505" }};
    var initialLng = {{ form.instance.geom.x|default:"-0.09" }};
    var latFieldId = '{{ form.latitude.id_for_label }}';
    var lngFieldId = '{{ form.longitude.id_for_label }}';

    // Initialize the map using the function from the external JS file
    customLeafletWidget(initialLat, initialLng, latFieldId, lngFieldId);
    // Initialize the detail input
    var elementId = 'detail_form';
    var schemaUrl = "{% static 'schemas/piezometer_detail_schema.json' %}";
    var hiddenFieldId = 'id_detail';
    var initialData = {{ form.detail.value|default:"{}"|safe }};

    initializeJSONEditor(elementId, schemaUrl, hiddenFieldId, initialData);
</script>
{% endblock %}
