{% extends 'project_dashboard.html' %}
{% load leaflet_tags %}
{% load static %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'core:projects' user.id %}">Projects</a></li>
<li class="breadcrumb-item"><a href="{% url 'core:detail-project' user.id project.pk %}">{{ project.name }}</a></li>
<li class="breadcrumb-item active" aria-current="page">Locations</li>
{% endblock breadcrumb %}

{% block content %}
{% leaflet_js %}
{% leaflet_css %}
<h2>Locations within the project</h2>
<br/>
<div class="float-right">
    <a class="btn btn-success" href="{% url 'core:add-location' user.id project.pk %}">
        <i class="fa fa-plus"></i> Add location </a>
</div>
<br/>
<div id="map"></div>
<table class="table table-striped table-sm" style="margin-top: 2rem;">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Added by</th>
            <th scope="col">Created at</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody>
        {% for location in location_list %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ location.name }}</td>
            <td>{{ location.added_by }}</td>
            <td>{{ location.created_at }}</td>
            <td>
                <a class="btn btn-sm btn-info" href="{% url 'core:detail-location' user.id project.pk location.pk %}">
                    Details...</a>
                </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script src="{% static 'js/map.js' %}"></script>

<script>

  var locations = [
        {% for location in location_list %}
        {
            lat: {{ location.geom.y }},
            lng: {{ location.geom.x }},
            name: "{{ location.name }}",
        }{% if not forloop.last %},{% endif %}
        {% endfor %}
    ];

    var map = initializeMap('map');
    plotLocations(map, locations);
</script>
{% endblock content %}
