{% extends 'project_dashboard.html' %}
{% load static %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'core:projects' user.id %}">Projects</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ project.name }}</li>
{% endblock breadcrumb %}

{% block content %}
{% comment %} {% load leaflet_tags %} {% endcomment %}
{% comment %} {% leaflet_js %} {% endcomment %}
{% comment %} {% leaflet_css %} {% endcomment %}
    <div class="container mt-4">
        <h3 class="text-muted">Project Details</h3>
        
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-text">{{ project.name }}</h4>
                <br>
                <p class="card-text">{{ project.description }}</p>
            </div>
        </div>
        
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Basic Information</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Start Date:</strong> {{ project.start_date }}</li>
                    <li class="list-group-item"><strong>End Date:</strong> {{ project.end_date }}</li>
                    <li class="list-group-item"><strong>Created At:</strong> {{ project.created_at }}</li>
                    <li class="list-group-item"><strong>Updated At:</strong> {{ project.updated_at }}</li>
                    <li class="list-group-item"><strong>Status:</strong> {{ project.is_active|yesno:"Active,Inactive" }}</li>
                </ul>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Location</h5>
                {% if project.location %}
                    <div id="map"></div>
                {% else %}
                    <p>No location data available.</p>
                {% endif %}
            </div>
        </div>

        {% include "shared/user_list.html" %}

        <a href="{% url 'core:update-project' user.id project.pk %}" class="btn btn-warning">
            <i class="fas fa-edit"></i> Edit
        </a>
        <a href="{% url 'core:delete-project' user.id project.pk %}" class="btn btn-danger">
            <i class="fas fa-trash"></i> Delete
        </a>
    </div>

    {% if project.location %}
    <script src="{% static 'js/map.js' %}"></script>
    <script>

        var locations = [
              {
                  lat: {{ project.location.y }},
                  lng: {{ project.location.x }},
                  name: "{{ project.name }}",
              }
          ];
      
          var map = initializeMap('map');
          plotLocations(map, locations);
      </script>
    {% endif %}
{% endblock %}
