{% extends 'base_dashboard.html' %}
{% comment %}
There is no `else` block in the template, because the assumptions is that There 
is no scenario where this form is elswhere than add or update views.
{% endcomment %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}

{% block content %}
{% leaflet_js plugins="forms" %}
{% leaflet_css plugins="forms" %}
  <h2>{{ form.instance.pk|yesno:"Edit Project,Add New Project" }}</h2>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    
    {% if 'update' in request.path %}
      <button type="submit" class="btn btn-primary">Save Changes</button>
    {% elif 'add' in request.path %}
      <button type="submit" class="btn btn-success">Save Project</button>
    {% endif %}
    
  </form>
{% endblock content %}