{% extends 'project_dashboard.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'core:projects' user.id %}">Projects</a></li>
<li class="breadcrumb-item"><a href="{% url 'core:detail-project' user.id project.pk %}">{{ project.name }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'sensor:deployments' user.id project.pk %}">Deployed sensors</a></li>
<li class="breadcrumb-item active" aria-current="page">Add</li>
{% endblock breadcrumb %}

{% block content %}
<h2>{{ form.instance.pk|yesno:"Edit Deployment,Add New Deployment" }}</h2>
<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  
  <div class="card p-2 mt-4" id="detail_form"></div>

  <button type="submit" class="btn btn-primary mt-4">Save Deployment</button>
</form>


<script type="text/javascript" src="{% static 'js/project.js' %}"></script>
<script type="text/javascript">
    // Initialize the detail input
    var elementId = 'detail_form';
    var schemaUrl = "{% static 'schemas/deployment_detail_schema.json' %}";
    var hiddenFieldId = 'id_detail';
    var initialData = {{ form.detail.value|default:"{}"|safe }};

    initializeJSONEditor(elementId, schemaUrl, hiddenFieldId, initialData);

  </script>
{% endblock content %}
