{% extends 'layouts/project_dashboard.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'core:projects' user.id %}">Projects</a></li>
<li class="breadcrumb-item"><a href="{% url 'core:detail-project' user.id project.pk %}">{{ project.name }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'sensor:deployments' user.id project.pk %}">Deployed sensors</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ deployment }}</li>
{% endblock breadcrumb %}

{% block content %}
<div class="container mt-4">
    <h3 class="text-muted">Deployment Details</h3>    
    <br>
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Basic Information</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Location:</strong> {{ deployment.location }}</li>
                <li class="list-group-item"><strong>Sensor:</strong> {{ deployment.sensor }}</li>
                <li class="list-group-item"><strong>Deployed at:</strong> {{ deployment.deployed_at }}</li>
                <li class="list-group-item"><strong>Decommissioned at:</strong> {{ deployment.decommissioned_at }}</li>
            </ul>
        </div>
    </div>

    {% include "shared/detail_list.html" %}

    <a href="{% url 'sensor:update-deployment' user.id project.pk deployment.pk %}" class="btn btn-warning">
        <i class="fas fa-edit"></i> Edit
    </a>
    <form action="{% url 'sensor:decommission-deployment' user.id project.pk deployment.pk %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-warning" {% if deployment.decommissioned_at is not None %}disabled style="pointer-events: none; opacity: 0.5;"{% endif %}>
            <i class="fas fa-trash"></i> Decommission
        </button>
    </form>

    <form action="{% url 'sensor:delete-deployment' user.id project.pk deployment.pk %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger" {% if deployment.decommissioned_at is None %}disabled style="pointer-events: none; opacity: 0.5;"{% endif %}>
            <i class="fas fa-trash"></i> Delete
        </button>
        <p class="text-danger"><em>WARNING: deleting the deployment deletes all the records as well!</em></p>
    </form>
    
    {% include "sensor/partial/record_list.html" %}
    
</div>
{% endblock %}
