<div class="d-flex justify-content-between mb-3">
  <h3 class="text-muted">Timeseries Data</h3>
</div>
  <!-- Filter form -->
{% include "sensor/partial/filter_form.html" %}
</br>

<button id="download-csv" class="btn btn-info">
    <i class="fa fa-download"></i> Download CSV
</button>

<!-- Plotly Graph -->
<div id="sensor-data-graph"></div>

  <script type="text/javascript">
      var graphData = {{ graph_json|safe }};
      Plotly.newPlot('sensor-data-graph', graphData.data, graphData.layout);
  
      var sensorData = {{ sensor_record_list|safe }};

      downloadCSV('download-csv', sensorData, 'sensor_data.csv');
  </script>
  