{% for sensor in sensor_list %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ sensor.identifier }}</td>
        <td>{{ sensor.available }}</td> 
        <td>
        <button type="button" class="btn btn-sm btn-info m-1" 
            hx-get="{% url 'sensor:detail-sensor' user.id sensor.pk %}"
            hx-target="#ofc-dialog"
            hx-trigger="click">
            <i class="fa-solid fa-circle-info"></i>

        <button type="button" class="btn btn-sm btn-warning m-1" 
            hx-get="{% url 'sensor:update-sensor' user.id sensor.pk %}"
            hx-target="#dialog"
            title="Edit">
            <i class="fas fa-edit"></i>
        </button>

        <button type="button" class="btn btn-sm btn-danger m-1" 
            hx-get="{% url 'sensor:delete-sensor' user.id sensor.pk %}"
            hx-target="#dialog"
            title="Delete">
            <i class="fas fa-trash"></i>
        </button>
        </td>
    </tr>
{% endfor %}