<div class="d-flex justify-content-start gap-2 py-2">
  <a class="btn btn-success" href="{% url 'sensor:add-deployment' user.id project.pk %}">
    <i class="fa fa-plus"></i> Deploy sensor
  </a>
  <a class="btn btn-success" href="{% url 'sensor:add-record' user.id project.pk %}">
    <i class="fa fa-plus"></i> Upload data
  </a>
</div>
<br>
  <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">location</th>
          <th scope="col">sensor</th>
          <th scope="col">deployed at</th>
          <th scope="col">decommissioned at</th>
  
        </tr>
      </thead>
      <tbody>
        {% for deployment in deployment_list %}
        <tr>
        <th scope="row">{{ forloop.counter }}</th>
          <td>{{deployment.location}}</td>
          <td>{{deployment.sensor}} </td>
          <td>{{deployment.deployed_at}} </td>
          <td>{{deployment.decommissioned_at}} </td>
          <td><a class="btn btn-sm btn-info" href="{% url 'sensor:detail-deployment' user.id project.pk deployment.pk %}">Details...</a></td>
        {% endfor %}
        </tr>
      </tbody>
    </table>